.text-justify{
  text-align: justify;
}

#contact {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50%;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: rgb(221, 24, 17);
}

::selection {
  color: white;
  background: rgb(234, 32, 32);
}